alembic==1.5.8
arrow==1.1.0
asn1crypto==1.4.0
Babel==2.9.0
beautifulsoup4==4.9.3
blinker==1.4
cachelib==0.1.1
cachetools==4.2.2
certifi==2023.7.22
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cov-core==1.15.0
coverage==5.5
croniter==1.0.12
cryptography==3.4.7
cssselect==1.1.0
debtcollector==2.2.0
decorator==5.0.7
dnspython==2.1.0
email-validator==1.1.2
entrypoints==0.3
factory-boy==3.2.0
Faker==8.1.1
feedparser==6.0.2
Flask==1.1.2
Flask-Assets==2.0
Flask-Babel==2.0.0
Flask-Cors==3.0.10
Flask-DebugToolbar==0.11.0
Flask-HTTPAuth==4.2.0
flask-json-multidict==1.0.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Misaka==1.0.0
Flask-OAuthlib==0.9.6
Flask-Plugins==1.6.1
flask-profiler==1.8.1
Flask-SimpleLDAP==1.4.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
flatten-json==0.1.13
frozendict==1.2
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.0.0
html2text==2020.1.16
httplib2==0.19.1
humanize==3.4.1
idna==2.10
iiif-prezi==0.3.0
infinity==1.5
intervals==0.9.1
ip-associations-python-novaclient-ext==0.2
iso8601==0.1.14
itsdangerous==1.1.0
jeepney==0.3.1
Jinja2==2.11.3
jsmin==2.2.2
keyring==21.0.0
keystoneauth1==4.3.1
libsass==0.20.1
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
misaka==2.1.1
mock==4.0.3
msgpack==1.0.2
ndg-httpsclient==0.5.1
netaddr==0.8.0
netifaces==0.10.9
nose==1.3.7
nose-cov==1.6
numpy==1.20.2
oauth2client==4.1.3
oauthlib==2.1.0
os-diskconfig-python-novaclient-ext==0.1.3
os-networksv2-python-novaclient-ext==0.26
os-service-types==1.7.0
os-virtual-interfacesv2-python-novaclient-ext==0.20
oslo.config==8.6.0
oslo.i18n==5.0.1
oslo.serialization==4.1.0
oslo.utils==4.8.0
otpauth==1.0.1
packaging==20.9
pandas==1.2.4
pbr==5.6.0
Pillow==8.2.0
prettytable==2.1.0
protobuf==3.15.8
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybossa-onesignal==1.1
pycountry==20.7.3
pycparser==2.20
pycryptodome==3.10.1
PyJWT==2.1.0
PyLD==2.0.3
pyldap==3.0.0.post1
pyOpenSSL
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
python-keystoneclient==4.2.0
python-ldap==3.3.1
python-novaclient==17.4.0
pytz==2021.1
PyYAML==5.4.1
rackspace-auth-openstack==1.3
rackspace-novaclient==2.1
raven==6.10.0
rax-default-network-flags-python-novaclient-ext==0.4.0
rax-scheduled-images-python-novaclient-ext==0.3.1
readability-lxml==0.8.1
redis==3.5.3
Redis-Sentinel-Url==1.0.1
rednose==1.3.0
requests==2.25.1
requests-oauthlib==1.1.0
rfc3986==1.4.0
rq==0.13.0
rq-dashboard==0.3.12
rq-scheduler==0.9
rsa==4.7.2
SecretStorage==3.1.1
sgmllib3k==1.0.0
simplejson==3.17.2
six==1.15.0
soupsieve==2.2.1
speaklater==1.3
SQLAlchemy==1.4.11
sqlalchemy-json==0.4.0
stevedore==3.3.0
termstyle==0.1.11
text-unidecode==1.3
twitter==1.18.0
Unidecode==1.2.0
uritemplate==3.0.1
urllib3==1.26.4
uWSGI==2.0.19.1
validators==0.18.2
wcwidth==0.2.5
webassets==2.0
Werkzeug==0.16.1
wrapt==1.12.1
WTForms==2.3.3
WTForms-Components==0.10.5
yacryptopan==1.0.1
dropbox